#ingress-nginx: {} # put all "ingress-nginx" chart related values here
#  # For example, to use default TLS certificate from values below, uncomment:
#  controller:
#    config:
#      ssl-redirect: true
#    extraArgs:
#      default-ssl-certificate: "ingress-nginx/default-ssl-cert"
ingress-nginx:
  controller:
    image:
      digest: ""
    resources:
      requests:
        cpu: 50m
        # it needs more memory than should: https://github.com/kubernetes/ingress-nginx/issues/5697
        memory: 150Mi
      limits:
        cpu: 100m
        memory: 300Mi

tlsCertificate:
  create: false
  name: "default-ssl-cert"
  crt: ""
  key: ""
