ocfVersion: 0.0.1
revision: 0.1.0
kind: InterfaceGroup
metadata:
  prefix: "cap.interface{{ if .Prefix }}.{{ .Prefix }}{{ end }}"
  name: "{{ .Name }}"
  displayName: "{{ .Name }}"
  description: "{{ .Name }} related Interfaces"
  documentationURL: https://example.com
  supportURL: https://example.com
  iconURL: https://example.com/icon.png
  maintainers:
    - email: dev@example.cop
      name: Example Dev
      url: https://example.com
