ocfVersion: 0.0.1
revision: {{ .Revision }}
kind: Type
metadata:
  prefix: "cap.type.{{ .Prefix }}"
  name: config
  displayName: "{{.Prefix }} config"
  description: "Type representing a {{ .Prefix }} config"
  {{- if .Metadata.DocumentationURL }}
  documentationURL: {{.Metadata.DocumentationURL}}
  {{- end}}
  {{- if .Metadata.SupportURL }}
  supportURL: {{.Metadata.SupportURL}}
  {{- end}}
  {{- if .Metadata.IconURL }}
  iconURL: {{.Metadata.IconURL}}
  {{- end}}
  {{- if .Metadata.Maintainers }}
  maintainers:
  {{- range .Metadata.Maintainers }}
    - email: {{.Email}}
      name: {{.Name}}
      url: {{.URL}}
  {{- end}}
  {{- end}}
spec:
  jsonSchema:
    # TODO(ContentDeveloper): Put the properties of your Interface output Type in form of a JSON Schema
    value: |-
      {
        "$schema": "http://json-schema.org/draft-07/schema",
        "type": "object",
        "required": [],
        "properties": {
          "example": {
            "$id": "#/properties/example",
            "type": "string",
            "description": "Example field"
          }
        }
      }
