ocfVersion: 0.0.1
revision: {{ .Revision }}
kind: Type
metadata:
  prefix: "cap.type.{{ .Prefix }}"
  name: {{ .Name }}-input
  displayName: "Input for {{ .Prefix }}.{{ .Name }}"
  description: Input for the "{{ .Prefix }}.{{ .Name }} Action"
  {{- if .Metadata.DocumentationURL }}
  documentationURL: {{.Metadata.DocumentationURL}}
  {{- end}}
  {{- if .Metadata.SupportURL }}
  supportURL: {{.Metadata.SupportURL}}
  {{- end}}
  {{- if .Metadata.IconURL }}
  iconURL: {{.Metadata.IconURL}}
  {{- end}}
  {{- if .Metadata.Maintainers }}
  maintainers:
  {{- range .Metadata.Maintainers }}
    - email: {{.Email}}
      name: {{.Name}}
      url: {{.URL}}
  {{- end}}
  {{- end}}
spec:
  jsonSchema:
    # TODO(ContentDeveloper): Adjust the JSON schema if needed.
    value: |-
{{ .JSONSchema | indent 6 }}
