# Default values for Capact.
global:
  containerRegistry:
    path: ghcr.io/capactio
    # Overrides the image tag for all Capact component. Default is the sub-chart appVersion.
    overrideTag: "0fbf562"
  domainName: "stage.cluster.capact.dev"

  database:
    endpoint: bolt://neo4j-neo4j:7687
    username: neo4j
    password: okon

  gateway:
    auth:
      username: graphql
      password: t0p_s3cr3t

integrationTest:
  image:
    name: e2e-test
    pullPolicy: IfNotPresent

postInstallTypeInstanceJob:
  image:
    name: populator
    pullPolicy: IfNotPresent
  args: ["/app register capact-installation"]

notes:
  printInsecure: false
