neo4j:
  core:
    standalone: true
    resources:
      requests:
        cpu: 150m
        memory: 1024Mi
      limits:
        cpu: 400m
        memory: 2048Mi
  imageTag: 4.2.8
  neo4jPassword: okon
