global:
  domainName: "voltron.local"

argo:
  controller:
    containerRuntimeExecutor: pns
  images:
    tag: v2.11.7

  artifactRepository:
    s3:
      bucket: argo-artifacts
      endpoint: argo-minio.argo.svc.cluster.local:9000

  minio:
    service:
      port: 9000
    install: true
    defaultBucket:
      enabled: true
      name: argo-artifacts
    resources:
      requests:
        memory: 256Mi
      limits:
        memory: 1Gi
