apiVersion: v2
name: monitoring
description: A Helm chart for Capact monitoring stack

type: application

version: 0.5.0

dependencies:
  - name: kube-prometheus-stack
    version: "17.2.x"
    repository: https://prometheus-community.github.io/helm-charts
    condition: kubePrometheusStack.enabled
